.anime-card{

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border-radius:20px;

overflow:hidden;

cursor:pointer;

transition:.35s;

box-shadow:

0 10px 30px rgba(0,0,0,.35);

border:1px solid rgba(255,255,255,.15);

}

.anime-card:hover{

box-shadow:

0 0 20px cyan,

0 0 40px #8b5cf6;

}

.anime-image{

position:relative;

overflow:hidden;

height:360px;

}

.anime-image img{

width:100%;

height:100%;

object-fit:cover;

transition:.5s;

}

.anime-card:hover img{

transform:scale(1.12);

}

.anime-overlay{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.55);

display:flex;

justify-content:center;

align-items:center;

opacity:0;

transition:.4s;

}

.anime-card:hover .anime-overlay{

opacity:1;

}

.watch-btn{

padding:14px 30px;

border:none;

border-radius:40px;

background:linear-gradient(
135deg,
#06b6d4,
#8b5cf6
);

color:white;

font-size:16px;

font-weight:700;

cursor:pointer;

}

.watch-btn:hover{

transform:scale(1.05);

}

.anime-info{

padding:20px;

text-align:center;

}

.anime-info h2{

font-size:1.4rem;

margin-bottom:15px;

color:white;

}

.genre-tag{

display:inline-block;

padding:8px 18px;

background:#06b6d4;

border-radius:30px;

font-size:14px;

font-weight:600;

color:white;

}

@media(max-width:768px){

.anime-image{

height:280px;

}

.anime-info h2{

font-size:1.2rem;

}

}