.genre-container{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

margin:40px auto;

width:90%;

}

.genre{

padding:10px 22px;

border:none;

border-radius:30px;

background:#222;

color:white;

cursor:pointer;

transition:.3s;

font-weight:bold;

}

.genre:hover{

background:cyan;

color:black;

}

.active{

background:#ff4655;

color:white;

}