.profile-container{

min-height:100vh;

padding:40px;

background:

linear-gradient(
135deg,
#050510,
#17152b
);

color:white;

display:flex;

flex-direction:column;

align-items:center;

gap:30px;

}



.profile-card{


width:350px;

padding:35px;

border-radius:20px;


background:

rgba(255,255,255,0.08);


backdrop-filter:blur(15px);


text-align:center;


box-shadow: 0 0 30px rgba(0,255,255,0.3);


}



.avatar{


font-size:70px;

margin-bottom:20px;


}



.profile-card h1{

font-size:32px;

}



.profile-card span{


padding:8px 20px;

border-radius:20px;

background:#00ffff;

color:black;

font-weight:bold;


}



.profile-stats{


display:flex;

gap:25px;

}



.stat-card{


width:180px;

padding:25px;


background:

rgba(255,255,255,0.1);


border-radius:20px;


text-align:center;


}



.stat-card h2{


font-size:35px;


}



.anime-section{


width:400px;

padding:25px;


background:

rgba(255,255,255,0.08);


border-radius:20px;


text-align:center;


}



.profile-logout{


padding:12px 30px;


border:none;

border-radius:25px;


background:#ff0055;


color:white;


font-size:16px;


cursor:pointer;


}