.store-page{

width:92%;

margin:auto;

padding:40px 0;

color:white;

}

.store-header{

text-align:center;

margin-bottom:50px;

}

.store-header h1{

font-size:3rem;

margin-bottom:15px;

background:linear-gradient(
90deg,
#00e5ff,
#8b5cf6,
#ff4d6d
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.store-header p{

font-size:18px;

color:#d1d5db;

max-width:700px;

margin:auto;

line-height:1.8;

}

.product-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:35px;

margin-top:40px;

}

@media(max-width:768px){

.store-header h1{

font-size:2.2rem;

}

.store-header p{

font-size:15px;

}

.product-grid{

grid-template-columns:1fr;

}

}